
.rowRole{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    margin-top: -30px;
    margin-left: 20px;
}

.supRole{
    margin-left: 40px;
    padding-top: 60px;
}
