/*Style de la page d'un film*/

@media(min-width: 900px){
  .pageFilm{
    display: flex;
    flex-direction: row;
    height: 50%;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 50px;
  }

  .infoFilm{
    width: 50%;
    margin-left: 50px;
    text-align: left;
  }

  .titreFilm{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1 ;
    margin-bottom: 10px;
  }

  .imgFilm{
    display: flex;
    width: 50%;
    justify-content: center;
  }

  .pochetteFilm{
    height:100%;
    align-self: flex-end;
  }

  .uneInfo{
    color:rgb(184, 184, 184);
    margin-right: 10px;
  }

  .infoCote{
    color:rgb(6, 236, 6);
    margin-right: 10px;
  }

  .resumeFilm{
    margin-top: 5px;
    margin-bottom: 5px;
    color:rgb(218, 213, 213);
  }

  .groupePersons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
  }

  .persons{
    font-size: 15px;
    color:rgb(110, 139, 165);
    margin-left: 15px;
  }

  .persons:hover{
    font-size: 15.5px;
    color:rgb(79, 118, 151)
  }
}

/*
@media(max-width: 900px){
  
  .pageFilm{
    display: flex;
    flex-direction: column-reverse;
    height: 50%;
    margin-top: 60px;
    justify-items: center;
  }

  .infoFilm{
  }

  .imgFilm{
    display: flex;
    justify-content: end;
  }

  .pochetteFilm{
    height: 100%;
  }
}
*/